.my-header {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.my-header .my-header-ul {
  background: #fff;
  display: flex;
  display: -webkit-flex;
}

.my-header .my-header-ul li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  flex-direction: column;
  line-height: 74px;
  color: #373a41;
}
.my-header .my-header-ul li p{
  font-size: 28px;
  color: #ABAFB8;
}
.my-header .active {
  display: block;
  height: 6px;
  width: 30px;
  background: #0D8DFC;
  margin: 0 auto;
}

.my-header .my-header-ul .my-header-active p {
  color: #0D8DFC;
}
